* {
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background-color: #f9c6c9;
}

.title {
  color: #fbfefb;
  background-color: #dbcdf0;
  padding: 15px;
  text-align: center;
  border: solid #5D6063;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;

  width: 700px;
  box-sizing: border-box;
  margin: 10px auto;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

button {
  text-align: center;
}

ul.options {
  list-style-type: none;
  align: center;
}

.option1 {
  color: #000000;
  background-color: #c6def1;
  font-weight: light;
  padding: 15px;
  text-align: left;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  box-sizing: border-box;
  margin: 10px;
}

.option2 {
  color: #000000;
  background-color: #c9e4de;
  font-weight: light;
  padding: 15px;
  text-align: left;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  box-sizing: border-box;
  margin: 10px;
}

.option3 {
  color: #000000;
  background-color: #faedcb;
  font-weight: light;
  padding: 15px;
  text-align: left;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  box-sizing: border-box;
  margin: 10px;
}

.option4 {
  color: #000000;
  background-color: #f7d9c4;
  font-weight: light;
  padding: 15px;
  text-align: left;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  box-sizing: border-box;
  margin: 10px;
}

input:hover {
  cursor: pointer;
}

.question {
  border: solid black;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.question h3 {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: dotted gray;
}

#submit-button {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#submit-button button:hover {
  cursor: pointer;
  background-color: gray;
}